@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("/assets/img/fundo1.jpg");
    background-size: auto;
}

.container{
    background-color: #FFF;
    border-radius: 8px;
    padding: 1rem;
}

.title_container{
    text-align: center;
}

.title{
    font-family: 'Dancing Script', cursive;
    font-size: 46px;
}

.sub-title{
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

.body_container{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.body_container .img-icon{
    height:5vh;
    width: 5vw;
}

.body_container .img-mensagem{
    border-radius: 50%;
}

#mensagem p{
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

#acrostico{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

#acrostico strong{
    color: red;
    font-size:32px;
}

@media screen and (min-width: 320px){
    .content{
        height:auto;
    }
}

@media screen and (min-width: 576px){
    .content{
        height:auto;
    }
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height:auto;
        border-radius: 1rem;
        margin: 1rem auto;
    }
}


